body {
  margin: 0;
}

.header {
  border-color: red;
  border-width: 1px;
  border-style: solid;
  text-align: center;
}

.title {
}

.form {
  border-color: red;
  border-width: 1px;
  border-style: solid;
  text-align: center;
}